src/main/resources/input/datamodel/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.webratio.com/2006/WebML/Graph" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.webratio.com/2006/WebML/Graph" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="x" type="xs:unsignedShort" />
  <xs:attribute name="y" type="xs:unsignedShort" />
  <xs:attribute name="hideAttributes" type="xs:boolean" />
  <xs:attribute name="bendpoints" type="xs:string" />
</xs:schema>